*{
    margin: 0; padding: 0; box-sizing: border-box;
}

.navbar,
.slideshow,
.category 
{
    margin-bottom: calc(100px - 3vw);
}

.category h1{
    margin-bottom: calc(80px - 3vw);
}
section.slideshow img,
section.category .cat_1,
section.category .cat_2,
section.category .cat_3
{
    border-radius: 10px;
}
section.category .cat_1 img, .cat_2 img, .cat_3 img {
    width: 100px;
    height: 100px;
}
section.category .cat_1{
    background: #22d1ee;
}
section.category .cat_2{
    background: #9c1de7;
}
section.category .cat_3{
    background: #ff304f;
}